/* -- Подготовка к стилизации -- */

/* Сброс стандартных стилей */
@import url("./reset.css");

/* Шрифты */
@import url("./fonts.css");

/* Переменные */
@import url("./variables.css");

/* -- Стилизация -- */
html {
	font-size: 16px;
}

body {
	font-family: var(--noto-font);
	background-color: var(--light-color);
	color: var(--primary-dark-color);
}

main {
}
